
html{
    --main-color: rgb(72, 151, 145);
    --hover-dark-color: rgb(44, 99, 94);
    --outline-color: rgb(175, 211, 208);
    --font-color: rgb(27, 27, 27);
    --fade-font2: rgb(214, 214, 214);
    --fade-font: rgb(112, 109, 109);
     max-width: 100vw;
    box-sizing: border-box;
}

*{
    font-family: "Antic";
    margin: 0;
    padding: 0;
}body{

    max-width: 1300px;
    margin: 0 auto;
    box-sizing: border-box;
}

.main-container{
    /*display: grid;
    grid-template-columns: minmax(50px,1fr)  2fr 1fr;*/
   max-width: 100vw;
    display: flex;
    box-sizing: border-box;
    position: relative;
}
/*Three main container*/
.nav-wrapper{
    min-height: 100vh;
    width: 450px;
    flex-grow: 1;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
}
.main-nav{
   width: fit-content;
   padding-top: 2rem;
   box-sizing: border-box;
   position: fixed;
 
}

.main-body{
   
    
    min-width: 580px; 
    flex-grow: 2;
    box-sizing: border-box;
    position: relative;
}

.main-trend{
  
    height: fit-content;
    min-width: 350px;
    flex-grow: 1;
    box-sizing: border-box;
    position: relative;
    display: flex;
}
/*Navigation*/
.list .fa-american-sign-language-interpreting{
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: rgb(72, 151, 145);
    padding-left: 13px;
}
.list{
    width: fit-content;
    margin: auto;
    position: relative;
}
.list li{
    list-style: none;
    cursor: pointer;
    display: flex;
    align-content: center;
    
}
.list i {
    font-size: 1.7rem;
    color: rgb(72, 151, 145);
    padding: 13px 13px 13px 13px;
    border-radius: 50px;
    width: fit-content;
   
}

.list i:hover{
    background-color: rgb(175, 211, 208);
}

.list a{
    font-weight: bold;
    color:  var(--font-color);
    text-decoration: none;
    margin-left: 20px;
    font-size: 1.2rem; 
    font-family: "Antic";
 
}

/*Twitter Wall-Profile*/


.profile-container{
    height: 500px;
    border-bottom: 1px solid rgb(175, 211, 208);
    position: relative;
    top: 0;   
    border-left: 1px solid  rgb(175, 211, 208);
    border-right: 1px solid  rgb(175, 211, 208);
 
    
}
.main-body .fa-american-sign-language-interpreting{
    display: none;
}
.to-fixed-top{
    border-left: 1px solid  rgb(175, 211, 208);
    border-right: 1px solid  rgb(175, 211, 208);
}
.top-profile-cont{
    height: 65%;
}
.bot-profile-cont{
    height: 35%;
}
.top-profile-cont .profile-images{
    width: 100%;
    height: 85%;
    position: relative;
    text-align: right;
    
}

.profile-images .cover-photo{
    width: 100%;
    height: 75%;
   
}
.profile-images .profile-photo{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid white;
    position: absolute;
    z-index: 1;
    bottom: 10px;
    left: 10px;
}
.profile-images .edit-profile-btn{
    font-size: 1rem;
    font-weight: bold;
    color: rgb(72, 151, 145);
    align-items: center;
    background: none;
    border: 1.2px solid rgb(72, 151, 145);
    padding: 10px 13px;
    margin: 5px 15px;
    border-radius: 50px;
    box-shadow: none;
    outline: none;
    cursor: pointer;
}
button[type="button"]:focus, button[type="button"]:focus{
    outline: none !important;
    box-shadow: none !important;
}
.edit-profile-btn:hover{
    background-color: var(--outline-color);
}
.to-fixed-top .number-tweets{
    font-size: .9rem;
    color: var(--fade-font);
}
.to-fixed-top label:nth-child(1){
    margin-top: 5px;
}
.to-fixed-top  label{
    display: block;
    margin-left: 20px;}
/*bottom profile cont*/
.bot-profile-cont label{
    display: block;
    margin-left: 20px;
    margin-right: -10px;
}
.bot-profile-cont .name,.profile-container .name{
    font-size: 1.2rem;
    font-weight: bold;
    width: fit-content;
}
 .bot-profile-cont  .user-name{
    font-size: .9rem;
    color: var(--fade-font);
    width: fit-content;
}
.bot-profile-cont .follow-container{
    display: flex;
}
.bio{
    margin: 13px 0;
    font-size: 1rem;
    font-weight: 500;
    width: fit-content;
}
.profile-text{
    font-size: 1rem;
   color: var(--fade-font);
   width: fit-content;
}
.profile-location{
    margin-bottom: 10px;
    width: fit-content;
}
.profile-location i{
    margin-right: 10px;
}
.follow-container span{
    display: flex;
}
/*Navigation in Profile container*/
.profile-container-text{
    height: 75%;
}
.profile-nav{
        width: 100%;
        height: 25%;
       
}
.profile-nav-list{
    display: flex;
    height: 100%;
}
.profile-nav-list li {
    list-style: none;
    cursor: pointer;
    color: var(--fade-font);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.active{

    border-bottom: 2px solid var(--main-color);

}
.profile-nav-list li:hover{
    background-color: var(--outline-color);
}
/*Tweet Container*/
.post-tweet-container{
    width: 100%;
    background-color:var(--fade-font2);
    padding: 1px;
    box-sizing: border-box;
  
}
.tweet-pad{
    box-sizing: border-box;
    width: 100%;
    height: 120px;
    padding: 10px;
    border-bottom: 1px solid var(--outline-color);
    background-color: white;
    margin-bottom: .7rem;
}
.input-cont{
    display: flex;
    align-content: center;
    
}
.input-cont .profile-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}
.input-cont textarea{
    font-size: 1rem;
    padding: .1rem;
    width: 85%;
    border: none;
    outline: none;
    overflow: hidden;
    color: var(--font-color);
    font-weight: bold;
    word-wrap: break-word;
}
.tweet-pad button{
    font-size: 1rem;
    font-weight: bold;
    color: white;
    align-items: center;
    background-color: var(--main-color);
    border: none;
    padding: 10px 13px;
    margin: 5px 15px;
    border-radius: 50px;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    letter-spacing: 1px;
    float: right;
}
.tweet-pad button:hover{
    background-color: var(--hover-dark-color);
}

/*THREE MAIN CONTAINER POST/REPLIES/LIKES*/
.cont{
    min-height: 50vh;
    width: 100%;
    box-sizing: border-box;
    display: none;
}
/*TWEETED STYLE CLASS CALL BY JAVASCRIPT*/


.tweet{
    display: grid;
    min-height: 100px;
    grid-template-columns: 10% 90%;
    grid-template-rows: fit-content fit-content;
    padding: 0 10px;
    background-color: white;
    border-bottom: 1px solid var(--fade-font2);
    max-width: 100vw;
    box-sizing: border-box;
}
.profile-pic-cont{
    width: fit-content;

    
}
.profile-pic{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-top: 10px;
}
.post-container{
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    box-sizing: border-box;
}
.inline-label{
    display: inline;
    margin-right: 5px;
   
}
.inline-label:nth-child(1){
    font-weight: bolder;
    color: var(--font-color);
}
.inline-label:nth-child(2){
    font-size: .9rem;
    color: var(--fade-font2);
}
.tweet p {
    width: 90%;
    word-wrap: break-word;
    padding: 5px 0;
    font-size: .9rem;
    color: var(--font-color);
    margin-top: 5px;
    font-weight: bold;
    box-sizing: border-box;
}
.tweet-text{
    height: 100%;
   
}
.tweeted-cont{
    
    grid-column: 2/3;
    display: flex;
    align-self: center;
    padding-bottom: 10px;
    padding-top: 10px;
   padding-left: .3rem;
}

.btn{
    width: fit-content;
    display: flex;
    margin-right: 5rem;
    align-items: center;
    background: none;
    border: 0;
    box-shadow: none;
    border-radius: 0px;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
    
}
.btn i {
    color: var(--main-color);
    font-size: 1.5rem;
   
}
.btn i:hover{
    font-size: 1.4rem;
    color: var(--outline-color);
 /*   color: rgb(150, 241, 241);*/
}
.btn .heart{
    color: rgb(206, 74, 74);
}

/*Trend List Style*/

.trend-list{
 
    background-color:rgb(225, 245, 243);
    border-radius: 20px;
    margin: 2rem;
    position: fixed;
  
    
}
.trend-list li{
   
    box-sizing: border-box;
    list-style: none;
    min-width: 300px;
    padding: 1rem;
    border-top: 1px solid var(--fade-font2);
}
.trend-list li:nth-child(1){
    border-top: none;
    font-size: 1.4rem;
    font-weight: bold;
}
.trend-list li label:nth-child(1){
    font-size: 1rem;
    font-weight: bold;
}
.trend-list li label:nth-child(2){
    font-size: .9rem;
    color: var(--fade-font);
    
}
.trend-list div label{
    display: block;
}

@media screen and (max-width: 1278px){
    /*Main Navigation*/
    .nav-wrapper{
    
       
        justify-content: flex-end;
    }
   .main-nav{
    padding-right: .5rem;
    padding-left: 3vw;
    float: right;
   }
    .list .fa-american-sign-language-interpreting{
        padding-right: 0;
    }
   
    .list a{
         display: none;
    }
}
@media screen and (max-width: 1110px){
    /*trend Navigation*/
    .main-trend{
        min-width:330px;
    }
    .trend-list li{
        min-width:270px
    }
    
}
@media screen and (max-width: 1005px){
    /*trend Navigation*/
    
    .nav-wrapper{
        flex-grow: 1;
    }
    .main-body{
        margin: 0 auto;
        flex-grow: 2;
    }
    .main-trend{
        flex-grow: 1;
        min-width: 0;
        width: 300px;
        margin: 0;
        padding: 0;
    }
    .main-trend *{
        display: none;
     }

    
}
@media screen and (max-width: 686px){
    /*trend Navigation*/
    
   .nav-wrapper{
    width: 15%;
    min-width: 0;
   }
    .main-body{
      width: 85%;
     min-width: 0;
    }

    .main-trend {
        display: none;
     }

     .tweet{
        grid-template-columns: 13% 87%;    
    }
}
@media screen and (max-width: 482px){
   
    body{
        width: 100vw;
        min-width: 300px;
    }
    .main-container{
        min-width: 300px;
    }
    .nav-wrapper{
        display: none;
    } 
    .profile-container{
        height: 480px;

    }
    .top-profile-cont{
        height: 60%;
       
    }
    .profile-container{
        margin-top: 60px;
       
    }
    .to-fixed-top {
        position: fixed; 
        z-index: 2; 
        height: fit-content;
        width: 100vw;
        background-color: white;
     }
    .bot-profile-cont{
        height: 40%;
    }
    .top-profile-cont .profile-images{
        height: 100%;
    }
  .to-fixed-top label:nth-child(2){
        display: none;
    }
   
    .main-body .fa-american-sign-language-interpreting{
        display: block;
        font-size: 2rem;
        margin: .6rem 1rem 0 1rem;
        color: rgb(72, 151, 145);
        text-align: left;
    }
    .profile-images .cover-photo{
        width: 100%;
        height: 70%;
       
    }
    .profile-images .profile-photo{
        width: 100px;
        height: 100px;
        bottom: 30px;
    }
    .profile-images .edit-profile-btn{
        font-size: .9rem;
        padding: 10px 10px;
        margin-top: 10px;
    }
    .bot-profile-cont .follow-container label{
        font-size: .9rem;
    }
 
    .profile-container-text{
        height: 80%;
    
    }

    .profile-nav{
            width: 100%;
            height: 20%;
    }
    .profile-nav-list{
        display: flex;
        height: 100%;
    }
    .profile-nav-list li:nth-child(1) {
       border-top-right-radius: 5px;
    }
    .profile-nav-list li:nth-child(2) {
        border-top-left-radius:  5px;
        border-top-right-radius:  5px;
     }
     .profile-nav-list li:nth-child(3) {
        border-top-left-radius: 5px;
     }
    .profile-nav-list li a{
        text-decoration: none;
        font-size: .9rem;
        text-align: center;
    }
    .bio{
      width: 80%;
    }
    .main-body{
        margin: 0;
        padding-top: 0;
    }

    .post-tweet-container .main-cont .tweet{
        min-width: 300px;
    }
    .tweet{

        grid-template-columns: 15% 85%;
    box-sizing: border-box;
    }
    .tweet p {
       padding-left: .5rem;
        
    }

}

